name: build-ng
on:
  - push
  - pull_request
  - workflow_dispatch
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: ${{ matrix.os }} Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        os:   [ 'ubuntu', 'macos' ]
        ruby: [ '2.5', '2.6', '2.7', '3.0', '3.1', '3.2' ]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Install meson ninja gtk3 (ubuntu)
        if: ${{ matrix.os == 'ubuntu' }}
        run: |
          sudo apt update -yq
          python3 -m pip install --upgrade pip setuptools wheel
          pip3 install meson ninja # Workaround to install the latest meson
          sudo apt install -yq libgtk-3-dev
      - name: Install meson ninja (macos)
        if: ${{ matrix.os == 'macos' }}
        run: |
          brew install meson ninja
      - name: Build libui-ng
        run: bundle exec rake vendor:build
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: ${{ matrix.os }}-ruby${{ matrix.ruby }}-build.log
          path: build.log
      - name: Rake test (XVFB)
        uses: coactions/setup-xvfb@v1
        with:
          run: bundle exec rake test
