name: test
on:
  - push
  - pull_request
jobs:
  build:
    name: ${{ matrix.os }} Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        os:   [ 'ubuntu', 'macos', 'windows']
        ruby: [ '2.5', '2.6', '2.7', '3.0', '3.1' ]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache libui shared library
        id: cache-libui
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-libui-${{ hashFiles('libui.so') }}
          restore-keys: |
            ${{ runner.os }}-libui
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Download libui shared libraries
        run: bundle exec rake vendor:default
      - name: Rake test (XVFB)
        uses: GabrielBB/xvfb-action@v1
        with:
          run: bundle exec rake test
